
LoginTimetonicApp/.DS_Store
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PROJECT@v11_mod=1707174450.270225_hash=c62fc84609969da6051238229fd3412dplugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Build/Intermediates.noindex/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=a77b3b88f02fcd41881c790822589a36_subobjects=ede389718eff228bec4017c0a8d2c82a-json
LoginTimetonicApp/LoginTimetonicApp.xcworkspace/xcuserdata/leidyluna.xcuserdatad/UserInterfaceState.xcuserstate
LoginTimetonicApp/.DS_Store
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/build-description.json
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/PasswordTextField.build/Objects-normal/x86_64/PasswordTextField-master.swiftdeps
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/PasswordTextField.build/Objects-normal/x86_64/PasswordTextField-master.swiftdeps~
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/0ccf2370c6590a3741ef3884546d3816.xcbuilddata/build-request.json
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/0ccf2370c6590a3741ef3884546d3816.xcbuilddata/description.msgpack
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/0ccf2370c6590a3741ef3884546d3816.xcbuilddata/manifest.json
LoginTimetonicApp/LoginTimetonicApp.xcworkspace/xcuserdata/leidyluna.xcuserdatad/UserInterfaceState.xcuserstate
LoginTimetonicApp/.DS_Store
LoginTimetonicApp/DerivedData/
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/PasswordTextField.build/Objects-normal/x86_64/PasswordTextField-master.swiftdeps
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/0ccf2370c6590a3741ef3884546d3816.xcbuilddata/target-graph.txt
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/0ccf2370c6590a3741ef3884546d3816.xcbuilddata/task-store.msgpack
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/2ce23b720ed8d6dbdd16ee3192592291.xcbuilddata/build-request.json
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/2ce23b720ed8d6dbdd16ee3192592291.xcbuilddata/build-request.json
LoginTimetonicApp/.DS_Store
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/build-description.json
LoginTimetonicApp/LoginTimetonicApp.xcworkspace/xcuserdata/leidyluna.xcuserdatad/UserInterfaceState.xcuserstate
LoginTimetonicApp/DerivedData/SDKStatCaches.noindex/iphonesimulator16.4-20E238-.sdkstatcache
LoginTimetonicApp/DerivedData/ModuleCache.noindex/Session.modulevalidation
LoginTimetonicApp/DerivedData/ModuleCache.noindex/EL1GNU9581WA/UIKit-1KHQ7M05IFVXC.pcm
LoginTimetonicApp/DerivedData/ModuleCache.noindex/EL1GNU9581WA/Security-3LF5CH5NVDMLJ.pcm
LoginTimetonicApp/DerivedData/ModuleCache.noindex/39SGUJYZP819D/PasswordTextField-27FLJ9PW39MAB.pcm
LoginTimetonicApp/DerivedData/ModuleCache.noindex/1OXDX7BA6KXZP/PasswordTextField-27FLJ9PW39MAB.pcm
LoginTimetonicApp/DerivedData/LoginTimetonicApp/info.plist
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/build.db
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/2ce23b720ed8d6dbdd16ee3192592291.xcbuilddata/task-store.msgpack
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/2ce23b720ed8d6dbdd16ee3192592291.xcbuilddata/target-graph.txt
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/2ce23b720ed8d6dbdd16ee3192592291.xcbuilddata/manifest.json
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/2ce23b720ed8d6dbdd16ee3192592291.xcbuilddata/description.msgpack
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/2ce23b720ed8d6dbdd16ee3192592291.xcbuilddata/build-request.json
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/PasswordTextField.build/Objects-normal/x86_64/PasswordTextField-master.swiftdeps
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/build-description.json
LoginTimetonicApp/.DS_Store
LoginTimetonicApp/DerivedData/SDKStatCaches.noindex/iphonesimulator16.4-20E238-.sdkstatcache
LoginTimetonicApp/LoginTimetonicApp.xcworkspace/xcuserdata/leidyluna.xcuserdatad/UserInterfaceState.xcuserstate
LoginTimetonicApp/DerivedData/LoginTimetonicApp/SymbolCache/project.plist
LoginTimetonicApp/DerivedData/LoginTimetonicApp/FindNavigator.history
LoginTimetonicApp/.DS_Store
LoginTimetonicApp/.DS_Store
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Build/Intermediates.noindex/LoginTimetonicApp.build/Debug-iphonesimulator/LoginTimetonicApp.build/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
