
LoginTimetonicApp/.DS_Store
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PROJECT@v11_mod=1707174450.270225_hash=c62fc84609969da6051238229fd3412dplugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Build/Intermediates.noindex/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=a77b3b88f02fcd41881c790822589a36_subobjects=ede389718eff228bec4017c0a8d2c82a-json
LoginTimetonicApp/LoginTimetonicApp.xcworkspace/xcuserdata/leidyluna.xcuserdatad/UserInterfaceState.xcuserstate
LoginTimetonicApp/.DS_Store
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/build-description.json
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/PasswordTextField.build/Objects-normal/x86_64/PasswordTextField-master.swiftdeps
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/PasswordTextField.build/Objects-normal/x86_64/PasswordTextField-master.swiftdeps~
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/0ccf2370c6590a3741ef3884546d3816.xcbuilddata/build-request.json
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/0ccf2370c6590a3741ef3884546d3816.xcbuilddata/description.msgpack
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/0ccf2370c6590a3741ef3884546d3816.xcbuilddata/manifest.json
LoginTimetonicApp/LoginTimetonicApp.xcworkspace/xcuserdata/leidyluna.xcuserdatad/UserInterfaceState.xcuserstate
LoginTimetonicApp/.DS_Store
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/build-description.json
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/PasswordTextField.build/Objects-normal/x86_64/PasswordTextField-master.swiftdeps
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/0ccf2370c6590a3741ef3884546d3816.xcbuilddata/target-graph.txt
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/0ccf2370c6590a3741ef3884546d3816.xcbuilddata/task-store.msgpack
LoginTimetonicApp/DerivedData/LoginTimetonicApp/Index.noindex/Build/Intermediates.noindex/XCBuildData/2ce23b720ed8d6dbdd16ee3192592291.xcbuilddata/build-request.json
